body {
  background-image: url(rainbow.w.jpg);
  color: darkblue;
}

ul{
  background-image: url(rainbow.jpg);
  background-repeat: no-repeat;
}

h1 {
  color: red;
  font-family: monospace;
}
h2 {
  color: blueviolet;
  font-family: monospace;
}

th{
  border-style:double;
  border-color: darkorchid;
  border-width: 2px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
}

/*
table{
  cursor: pointer;
}
tr:hover {background-color: coral;}
*/
