body {
  background-image: url(rainbow.w.jpg);
  color: darkblue;
}

ul{
  background-image: url(rainbow.jpg);
  background-repeat: no-repeat;
}

h1 {
  color: red;
  font-family: monospace;
}
h2 {
  color: blueviolet;
  font-family: monospace;
}

th{
  border-style:double;
  border-color: darkorchid;
  border-width: 2px;
}
